<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>module模块</title>
  <script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
  <script>
    /**
     * module(): 创建一个模块对象, 类似于根作用域对象
     * controller(): 创建了控制器对象, 返回值仍然是module对象, 可以链式调用
     */
    angular.module('myApp', [])
      .controller('con1', function ($scope) {
        $scope.userName = '张三';
      })
      .controller('con2', function ($scope) {
        $scope.userName = '李四';
      })
  </script>
</head>

<body ng-app="myApp">
  <div ng-controller="con1">
    姓名: <input type="text" ng-model="userName"><br>
    展示: {{userName}}
  </div>
  <hr>
  <div ng-controller="con2">
    姓名: <input type="text" ng-model="userName"><br>
    展示: {{userName}}
  </div>
</body>

</html>